html {
  min-height: 100%;
  position: relative;
}
h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #553be7;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #e1d8f0;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #553be7;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}
.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}
thead th {
  width: 25%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

body {
  background: linear-gradient(to bottom left, #c0cfb2 10%, #8ba989 80%);
  display: grid;
  overflow: hidden;
}

#player {
  background: #ffffff;
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(54, 79, 60, 0.4);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#player:hover {
  transform: scale(1.05);
}

.album {
  background: linear-gradient(rgba(54, 79, 60, 0.25), rgba(73, 101, 77, 0.55)),
    url("http://4.bp.blogspot.com/-pcPjBBdE_K8/U7v4oEX3M8I/AAAAAAAAD2I/6dWyzgiPzkQ/s1600/Clean+BAndit+Album+.jpg");
  background-repeat: no-repeat;
  background-size: 300px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
}

.heart {
  position: absolute;
  right: 0;
  color: #ffffff;
  margin: 10px;
  transition: all 0.4s ease;
}

.clicked {
  color: #49654d;
  transform: scale(1.2);
  transition: all 0.4s ease;
}

.info {
  height: 115px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
  transform: translateY(35px);
  transition: all 0.5s ease-in-out;
}

.up {
  transform: translateY(0px);
}

.progress-bar {
  height: 5px;
  width: 73%;
  margin: 6% auto;
  background: #cdd9c2;
  border-radius: 10px;
  font-family: "Questrial", sans-serif;
}

.fill {
  background-color: #8ba989;
  width: 35%;
  height: 0.3rem;
  border-radius: 2px;
}

.time--current,
.time--total {
  color: #364f3c;
  font-size: 10px;
  position: absolute;
  margin-top: -2px;
}

.time--current {
  left: 15px;
}

.time--total {
  right: 15px;
}

.currently-playing {
  text-align: center;
  margin-top: -3px;
}

.song-name,
.artist-name {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

.song-name {
  font-size: 0.8em;
  letter-spacing: 3px;
  color: #364f3c;
}

.artist-name {
  font-size: 0.6em;
  letter-spacing: 1.5px;
  color: #557c5f;
  margin-top: 5px;
}

.controls {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
  color: #8ba989;
}
.controls .play,
.controls .pause {
  margin: 15px 25px;
  color: #6e946c;
}
.controls .option {
  left: 10px;
  position: absolute;
  font-size: 0.8em;
}
.controls .add {
  right: 10px;
  position: absolute;
  font-size: 0.8em;
}
.controls .volume {
  margin-right: 30px;
  font-size: 0.8em;
}
.controls .shuffle {
  margin-left: 30px;
  font-size: 0.8em;
}

.play,
.pause,
.next,
.previous,
.option,
.add,
.volume,
.shuffle {
  transition: all 0.5s ease;
}
.play:hover,
.pause:hover,
.next:hover,
.previous:hover,
.option:hover,
.add:hover,
.volume:hover,
.shuffle:hover {
  color: #557c5f;
}
